.loading-spinner {
  margin: 0 auto;
  margin-top: 100px;
}

.wrap {
  margin: 0 auto;
  width: 1000px;
}

.left {
  width: 400px;
  height:400px;
  float: left;
}

.right {
  margin-left: 420px;
  height: 600px;
  width: 780px;
}

.pokestats {
  width: 200px;
}
