.inputForm {
  border-radius: 15px;
  border-color: #016EC1;
  width: 70%;
  height: 32px;
  padding: 0 16px;
  margin-bottom: 32px;
  outline:none;
  margin-bottom: 48px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #016EC1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #016EC1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #016EC1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #016EC1;
}

.search {
  position: relative;
  width:100%;
}

.search input {
  width: 70%;
  align-items: center;
}

.search .layout-button {
  width: 70%;
  position: absolute;
  top: 8px;
  left: 15%;
}

.search .fa-search {
  position: absolute;
  right: 8px;
}
